@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 100% 97%; /* #EFF5FF */
    --foreground: 218 45% 32%; /* #2D4777 */
    --card: 0 0% 100%;
    --card-foreground: 218 45% 32%;
    --popover: 0 0% 100%;
    --popover-foreground: 218 45% 32%;
    --primary: 210 29% 24%; /* #2C3E50 */
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 29% 24%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 40% 45.1%;
    --accent: 46 100% 50%; /* #FFC502 */
    --accent-foreground: 210 29% 24%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 29% 80%;
    --input: 210 29% 85%;
    --ring: 218 45% 32%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 210 29% 10%;
    --foreground: 0 0% 98%;
    --card: 210 29% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 210 29% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 210 29% 24%;
    --secondary: 210 29% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 29% 18%;
    --muted-foreground: 210 40% 63.9%;
    --accent: 46 100% 50%;
    --accent-foreground: 210 29% 24%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 29% 25%;
    --input: 210 29% 25%;
    --ring: 218 45% 32%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d0d8e6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  }
}

@media print {
  body {
    background-color: white;
    background-image: none;
  }
  .no-print {
    display: none;
  }
  .print-container {
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: none;
  }
  .print-content {
    box-shadow: none !important;
    border: none !important;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
  }

  @page {
    size: A4;
    margin: 20mm;
  }
}
